
.nav-bar {
  width: 100%;
  transition: all 0.15s ease-in-out;
  height: var(--navbar-heigth);
  position: fixed;
  z-index: 9999;

  .navbar {
    height: 100%;
    background-color: var(--navbar-color);
    padding: 1rem 7%;

    img {
      width: var(--navbar-icon-heigth);
    }

    i {
      font-size: 25px;
    }

    i:hover {
      cursor: pointer;
    }

    .icon-buscar {
      color: white;
    }
  }
}

.search-bar {
  justify-content: center;
}

.count {
  color: var(--cor-secundaria);
}

li:hover {
  cursor: pointer;
}


/* Ajustes para telas pequenas */
@media (max-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    background-color: var(--navbar-color);
  }

  /* Colocar o input de busca em largura total no colapso */
  .search-bar {
    width: 100%; /* Input de busca ocupa toda a largura */
    margin-bottom: 1rem; /* Espaço abaixo do input */
    justify-content: end;
  }

  /* Centralizar ícones de usuário e carrinho no colapso */
  .navbar-nav,
  .nav-link {
    text-align: center; /* Centraliza os links e ícones */
    margin-bottom: 1rem; /* Espaço entre os itens */
  }
}
