main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .titulo{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: 30px;

        h1{
            padding: 0 5px 0 5px;
        }

        img{
            height: 40px;
        }
    }

    .botao{
      width: 270px;
    }
}


