<div class="d-flex flex-column flex-shrink-0 p-3 bg-light main">
  <a
    href="/pagina-inicial"
    class="d-flex align-items-center mb-3 mb-md-0 link-dark text-decoration-none"
  >
    <span class="fs-4 titulo">
      <img src="assets/logo.png" alt="Logo PharmaSW." />
      PharmaSW
    </span>
  </a>

  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        [routerLink]="['/pagina-inicial']"
        [ngClass]="{
          active: isActive('/pagina-inicial'),
          'link-dark': !isActive('/pagina-inicial')
        }"
        class="nav-link"
        [attr.aria-current]="isActive('/pagina-inicial') ? 'page' : null"
      >
        <i class="bi bi-house"></i>
        Home
      </a>
    </li>

    <li class="nav-item">
      <a
        [routerLink]="['/pagina-produtos']"
        [ngClass]="{
          active: isActive('/pagina-produtos'),
          'link-dark': !isActive('/pagina-produtos')
        }"
        class="nav-link"
        [attr.aria-current]="isActive('/pagina-produtos') ? 'page' : null"
      >
        <i class="bi bi-grid"></i>
        Produtos
      </a>
    </li>

    <li class="nav-item" *ngIf="administrador">
      <a
        [routerLink]="['/pagina-usuarios']"
        [ngClass]="{
          active: isActive('/pagina-usuarios'),
          'link-dark': !isActive('/pagina-usuarios')
        }"
        class="nav-link"
        [attr.aria-current]="isActive('/pagina-usuarios') ? 'page' : null"
      >
        <i class="bi bi-people"></i>
        Usuários
      </a>
    </li>

    <li class="nav-item" *ngIf="estoquista">
      <a
        [routerLink]="['/estoquista-pedido']"
        [ngClass]="{
          active: isActive('/estoquista-pedido'),
          'link-dark': !isActive('/estoquista-pedido')
        }"
        class="nav-link"
        [attr.aria-current]="isActive('/estoquista-pedido') ? 'page' : null"
      >
        <i class="bi bi-bag"></i>
        Pedidos
      </a>
    </li>
  </ul>

  <hr />

  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <!-- <img
        src=""
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      /> -->
      <strong>{{ userLogado }}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <!-- <li><a class="dropdown-item" href="#">New project...</a></li> -->
      <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li> -->
      <!-- <li><hr class="dropdown-divider" /></li> -->
      <li><a class="dropdown-item" (click)="logOut()">Sair</a></li>
    </ul>
  </div>
</div>
