main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;


  .menu-lateral{
    height: 100%;
    width: 20vw;
    max-width: 400px;
    min-width: 200px;
  }

  .central{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
  }
}
