<app-pagina-inicial-layout>
  <form superior [formGroup]="buscarForm">
    <div class="cabecalho">
      <div class="divisor"></div>
      <!-- Input -->
      <div class="input">
        <app-input-primario
          formControlName="nome"
          inputName="nome"
          type="text"
          placeHolder="Nome do Produto"
        >
          <i class="bi bi-search" (click)="pesquisar()"></i>
        </app-input-primario>
      </div>
      <div class="botao-cadastrar">
        <i
          class="bi bi-plus-circle-fill button"
          (click)="abrirCadastro()"
          *ngIf="isAdministrador"
        ></i>
      </div>
    </div>

    <hr />

    <!-- Filtros -->
    <h4>Filtros</h4>
    <div class="filtros">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="ATIVO"
          id="statusAtivo"
          name="status"
          formControlName="status"
        />
        <label class="form-check-label" for="statusAtivo"> Ativo </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="INATIVO"
          id="statusInativo"
          name="status"
          formControlName="status"
        />
        <label class="form-check-label" for="statusInativo"> Inativo </label>
      </div>
    </div>
  </form>

  <div class="inferior" inferior>
    <app-table-pagination
      [dados]="produtos"
      [acoes]="acoesPermitidas"
      [totalItens]="totalItens"
      (pageChangeEvent)="pageChanged($event)">

    >
    </app-table-pagination>
  </div>
</app-pagina-inicial-layout>

<app-cadastro-produtos
  [openCadastro]="modalAberto"
  [clickCadastro]="clickCadastro"
  (fecharModal)="fecharModal()"
  (atualizarTabela)="pesquisar()"
  [produtoEdicao]="produtoEdicao"
>
</app-cadastro-produtos>
