<h2>Lista de Produtos</h2>

<div *ngFor="let item of listaDeProdutos">
  <h4>{{ item.nome }}</h4>
  <p>Preço: {{ item.valor }}</p>
  <p>Quantidade disponível: {{ item.quantidadeEstoque }}</p>
  <button (click)="adicionarAoCarrinho(item.id)">Adicionar ao Carrinho</button>
</div>

<h2>Carrinho de Compras</h2>

<div *ngIf="cartItems.length > 0; else carrinhoVazio">
  <div *ngFor="let item of cartItems">
    <h4>{{ item.nome }}</h4>
    <p>Preço: {{ item.valor }}</p>
    <p>Quantidade: {{ item.quantidade }}</p>
    <button (click)="removeItemCarrinho(item)">Remover</button>
  </div>
  <h3>Total: {{ total }}</h3>
</div>

<ng-template #carrinhoVazio>
  <p>Seu carrinho está vazio.</p>
</ng-template>
