<main>
  <label [for]="selectName" class="form-label" [style]="styleLabel">{{
    label
  }}</label>
  <div class="select">
    <select
      [style]="style"
      class="form-select"
      aria-label="Select an option"
      id="selectOptions"
      (change)="onSelectChange($event)"
      [id]="selectName"
    >
      <option
        *ngFor="let option of options; let i = index"
        [selected]="i == 0"
        [value]="option.value"
      >
        {{ option.text }}
      </option>
    </select>
    <div class="icon">
      <ng-content> </ng-content>
    </div>
  </div>
</main>
