main{
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.enderecos{
  height: 450px;
}
.endereco{
  height: fit-content;
  min-height: 100px;
  margin-bottom: 15px;
  border: 1px solid #ddd;

  p{
    margin-bottom: 10px;
  }

  a{
    color: var(--cor-secundaria);
  }
  a:hover{
    cursor: pointer;
    color: var(--cor-primaria);
  }

  span{
    color: var(--cor-secundaria);
  }
}
.endereco-padrao{
  border-left: solid var(--cor-primaria);
}
.endereco-salvo{
  border-left: solid #ddd;
}
