.card {
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

h2.card-title {
  font-size: 1.8rem;
}



.endereco-resumo,
.forma-pagamento,
.pedido-itens,
.resumo-preco {
  margin-bottom: 20px;
}

.pedido-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
}

.pedido-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-muted {
  color: #6c757d;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:hover {
  background-color: #e2e6ea;
  color: #495057;
}

.btn-success {
  background-color: #13426E;
  color: white;
}

.btn-success:hover {
  background-color: #0B5ED7;
}

.resumo-preco {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resumo-preco .d-flex span {
  font-weight: 600;
}

.resumo-preco h5 {
  font-weight: 700;
}
