<div class="carrossel">
  <div class="carousel carrossel">
    <div
      *ngFor="let image of images; let i = index"
      class="carousel-item"
      [class.active]="i === currentSlide"
    >
      <div class="d-flex justify-content-center align-items-center h-100">
        <img
          [src]="image.caminho || 'data:image/jpeg;base64,' + image.imagem"
          alt="Uploaded image {{ i + 1 }}"
        />
      </div>
    </div>
    <div class="acoes">
      <div class="itens">
        <ng-container class="acoes" *ngFor="let acao of acoes">
          <i
            (click)="[acao.funcao(images[currentSlide]), atualizaSlide()]"
            [ngClass]="acao.icone(images[currentSlide])"
          >
          </i>
        </ng-container>
      </div>
    </div>
    <!-- Controles para navegação no carousel -->
    <a
      *ngIf="images.length > 1"
      class="carousel-control-prev"
      (click)="previousSlide()"
      role="button"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a
      *ngIf="images.length > 1"
      class="carousel-control-next"
      (click)="nextSlide()"
      role="button"
    >
      <span class="sr-only">Próxima</span>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</div>
