<main>
  <section class="nav-bar">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container container-fluid justify-content-between">
        <!-- Logo à esquerda -->
        <a class="navbar-brand" href="#">
          <img src="assets/logo-sem-texto.png" alt="Logo PharmaSW" />
        </a>
        <!-- Input de busca e botão de pesquisa no centro -->
        <div class="d-flex justify-content-center search-bar col-md-8 col-lg-9">
          <form [formGroup]="formBusca" class="d-flex w-75">
            <div class="me-2 flex-grow-1 border rounded-3">
              <app-input-primario
                formControlName="inputPesquisa"
                name="busca-produto"
                placeHolder="Buscar produtos"
                inputName="buscaProduto"
                style="font-size: 20px"
              >
                <i
                  class="bi bi-search icon-buscar"
                  (click)="buscarProduto()"
                ></i>
              </app-input-primario>
            </div>
          </form>
        </div>

        <!-- Ícones de usuário e carrinho de compras à direita -->
        <div class="d-flex gap-3 align-items-center">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person"></i>
              </a>
              <ul class="dropdown-menu" *ngIf="!userLogado">
                <li><a class="dropdown-item" (click)="toLogin()">Entrar</a></li>
                <li>
                  <a class="dropdown-item" (click)="toRegister()">Registrar</a>
                </li>
              </ul>
              <ul class="dropdown-menu" *ngIf="userLogado">
                <div class="ps-2 pe-2">
                  <li>
                    <a class="dropdown-item" (click)="toPerfil()"
                      >Minha Conta</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      (click)="logout()"
                      style="color: red"
                      >Sair</a
                    >
                  </li>
                </div>
              </ul>
            </li>
          </ul>
          <a (click)="toCart()" class="nav-link">
            <i class="bi bi-cart"></i>
            <span class="count">{{ itemCount }}</span>
          </a>
        </div>
      </div>
    </nav>
  </section>
  <section class="conteudo">
    <ng-content> </ng-content>
  </section>
</main>
