main{
  display: flex;
  flex-direction: column;
}

.nav-bar{
  width: 100%;
  transition: all .15s ease-in-out;
  height: var(--navbar-heigth);
  position: fixed;
  z-index: 9999;

  .navbar{
    height: 100%;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;

    img{
      width: var(--navbar-icon-heigth);
    }

    i{
      font-size: 25px;
    }

    i:hover{
      cursor: pointer;
    }

    .icon-buscar{
      color: white;
    }
  }
}

.conteudo {
  overflow: auto;
  margin-top: var(--navbar-heigth);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--navbar-heigth));
}

.count{
  color: var(--cor-secundaria);
}

li:hover{
  cursor: pointer;
}
