main {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  transition: all 0.15s ease-in-out;
  height: var(--navbar-heigth);
  position: fixed;
  z-index: 9999;

}


.conteudo {
  overflow: auto;
  margin-top: var(--navbar-heigth);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--navbar-heigth));
}
