<app-layout-principal>
  <main class="container">
    <!-- DESTAQUES
    <div class="destaques row linha-info"></div> -->

    <!-- CARD-PRODUTOS -->
    <div class="card-produtos row linha-info">
      <h2>Nossos Produtos</h2>

      <div class="produtos container">
        <div class="row ">
          <div
            class="col-12 col-md-6 col-lg-4 col-xl-2 mb-3 for-card"
            *ngFor="let produtoDTO of produtos"
          >
            <div class="card p-2">
              <div class="" (click)="detalharProduto(produtoDTO.produto)">
                <div class="imagem">
                  <img
                    [src]="
                      'data:image/jpeg;base64,' + produtoDTO.imagemPrincipal
                    "
                    class="card-img-top"
                    alt="{{ produtoDTO.produto.nome }}"
                  />
                </div>
                <div class="card-body">
                  <div class="rating">
                    <i
                      *ngFor="let star of generateStars(produtoDTO.produto)"
                      class="bi"
                      [ngClass]="star"
                    ></i>
                  </div>
                  <h5 class="card-title">{{ produtoDTO.produto.nome }}</h5>
                  <p class="card-text">
                    <strong>{{
                      produtoDTO.produto.valor
                        | currency : "BRL" : "symbol" : "1.2-2"
                    }}</strong>
                  </p>
                </div>
              </div>
              <div class="col-12 d-flex align-items-center btn-comprar">
                <div class="col-12 ps-2 pe-2 mb-2">
                  <app-botao
                    textoBtn="Adicionar ao Carrinho"
                    (click)="adicionarCarrinho(produtoDTO.produto)"
                  ></app-botao>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</app-layout-principal>
