.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  width: 800px; /* Aumentando o tamanho da modal */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.input-cadastro {
  margin-bottom: 25px; /* Maior espaço entre campos */
}

.input-cadastro label {
  font-size: 1em;
  color: #666;
}

.input-padrao input,
.input-padrao select {
  width: 100%;
  padding: 15px; /* Aumentando o padding dos campos */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-padrao input[type="date"] {
  padding: 12px;
}

.btn-secondary {
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #aaa;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; /* Aumentando o espaço entre o formulário e os botões */
}

.botao {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px; /* Aumentando os botões */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* Modal ocupando 90% da tela em dispositivos menores */
  }

  .modal-content h2 {
    font-size: 1.5em;
  }

  .input-cadastro {
    margin-bottom: 20px;
  }

  .modal-actions {
    flex-direction: column;
    gap: 15px;
  }

  .botao {
    width: 100%;
  }
}
