<main>
  <app-modal
    class="modal-cadastro"
    (fecharModal)="fecharModal()"
    (submit)="onSubmit()"
    tituloModal="Alterar Dados"
    textoBotao="Confirmar"
  >
    <div
      class="container p-2 w-100 d-flex align-items-center justify-content-center"
    >
      <form class="container" [formGroup]="clienteForm" *ngIf="clienteForm">
        <div class="row">
          <div class="col-12">
            <!-- nome -->
            <app-input-primario
              [addLabel]="true"
              label="Nome*:"
              inputName="nome"
              placeHolder="Nome"
              formControlName="nome"
              maxLength="255"
            ></app-input-primario>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!-- dataNascimento -->
            <app-input-primario
              class="input-cadastro input-padrao"
              [addLabel]="true"
              label="Data de Nascimento:"
              inputName="dataNascimento"
              type="date"
              formControlName="dataNascimento"
              [max]="getCurrentDate()"
            ></app-input-primario>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!-- genero -->
            <app-select
              label="Gênero*:"
              selectName="genero"
              [options]="optionsGenero"
              (valueChange)="clienteForm.get('genero').setValue($event)"
            ></app-select>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-sm-12 col-md-6">
            <!-- senha -->
            <app-input-primario
              type="password"
              [addLabel]="true"
              label="Senha:"
              inputName="senha"
              placeHolder="******"
              formControlName="senha"
            ></app-input-primario>
          </div>
          <div class="col-sm-12 col-md-6">
            <!-- confirmar - senha -->
            <app-input-primario
              type="password"
              [addLabel]="true"
              label="Confirmar Senha:"
              inputName="confirmarSenha"
              placeHolder="******"
              formControlName="confirmarSenha"
            ></app-input-primario>
          </div>
        </div>
      </form>
    </div>
  </app-modal>
</main>
