<app-login-layout
    titulo="Cadastrar"
    textoBtnPrimario="Registrar"
    (submit)="submit()"
>

<form [formGroup]="cadastroForm">
    <app-input-primario
        formControlName="nome"
        inputName="nome"
        type="text"
        label="Nome"
        placeHolder="João da Silva"
    >
    </app-input-primario>

    <app-input-primario
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeHolder="exemple@pharmasw.com"
    >
    </app-input-primario>

    <app-input-primario
        formControlName="cpf"
        inputName="cpf"
        type="text"
        label="CPF"
        placeHolder="12345678911"
    >
    </app-input-primario>

    <app-input-primario
        formControlName="senha"
        inputName="senha"
        type="password"
        label="Senha"
        placeHolder="senha"
    >
    </app-input-primario>

    <app-input-primario
        formControlName="confirmarSenha"
        inputName="confirmarSenha"
        type="password"
        label="Confirmar senha"
        placeHolder="Confirmar Senha"
    >
    </app-input-primario>

</form>

<h1>{{cadastroForm.value.senha}} </h1>
<h1>{{cadastroForm.value.confirmarSenha}} </h1>

</app-login-layout>
