.conteiner {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50px;
}

.esquerda {
  display: grid;
  justify-content: center;
  gap: 15px;
  overflow-y: auto;
  padding: 15px;
  border-right: 1px solid #ddd;

  .input-cadastro {
    width: 600px;
  }
}

.direita {
  .carousel{
    height: 80%;
    width: 90%;
  }
}


/*
@media (max-width: 1366px) {
  .esquerda {
    height: 480px;

    .input-cadastro {
      width: 500px;
    }
  }

  .direita {
    height: 480px;
  }

  .baixo {
    .botao-add-imagens {
      width: 400px;
    }
  }
} */
