<app-layout-principal>
  <main class="container p-4">
    <div class="row mt-3" style="min-height: 650px">
      <div class="col-lg-8 col-md-11 col-sm-11 mx-auto">
        <div class="card" style="background-color: #E0E0E0; border: solid 2px #212529;">
          <div class="card-body">
            <h1 class="mb-4"><i class="bi bi-card-list"></i> Lista de Pedidos</h1>
            <div class="pedidos p-2 overflow-auto">
              <div *ngIf="pedidos.length === 0">
                <h3 class="text-center">Nenhum pedido encontrado.</h3>
                <h5 class="text-center">Você ainda não realizou compras.</h5>
              </div>
              <div *ngIf="pedidos.length > 0">
                <ng-container *ngFor="let pedido of pedidos">
                  <div class="pedido-card card p-3 mb-3" style="background-color: #FFFFFF; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
                    <div class="pedido-info">
                      <h5 class="card-title">Número do Pedido: {{ pedido.id }}</h5>
                      <p class="card-text">Data: {{ pedido.dataCompra | date: 'dd/MM/yyyy' }}</p>
                      <p class="card-text">Total: R$ {{ pedido.total | number:'1.2-2' }}</p>
                      <p class="card-text">Status: <strong>{{ pedido.statusPedido }}</strong></p>
                      <button class="btn btn-primary col-12">Mais Detalhes</button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</app-layout-principal>
