<app-layout-principal>
  <div class="carrinho-container container">
    <h2>Seu Carrinho</h2>
    
    <div *ngIf="getItems().length > 0" class="carrinho-itens">
      <h3>Itens no Carrinho</h3>
      <br />

      <!-- Listagem de produtos no carrinho -->
      <div class="produto-item">
        <div *ngFor="let produto of getItems()" class="produto-carrinho">
          <div class="produto-info col-2">
            <h4>{{ produto.nome }}</h4>
            <p>Preço: {{ produto.valor | currency : "BRL" }}</p>
          </div>

          <!-- Input para alterar a quantidade -->
          <div class="uniao row">
            <div class="col-7">
              <app-input-primario
                [max]="produto.quantidadeEstoque.toString()"
                [value]="produto.quantidadePedido.toString()"
                inputName="quantidade"
                type="number"
                placeHolder="Quantidade"
                (input)="alterarQuantidade(produto, $event)"
              ></app-input-primario>
            </div>

            <!-- Botão para remover produto do carrinho -->
            <div class="col-5">
              <app-botao
                [textoBtn]="'Remover'"
                (click)="removerProduto(produto)"
              ></app-botao>
            </div>
          </div>
        </div>
      </div>

      <!-- Exibir o preço total -->
      <div class="total-preco">
        <h3>
          Total: {{ getTotalPreco() | currency : "BRL" : "symbol" : "1.2-2" }}
        </h3>
      </div>
      <div class="botao-compra">
        <app-botao textoBtn="Finalizar a Compra"> </app-botao>
      </div>

      <!-- Mensagem quando o carrinho estiver vazio -->
      <div *ngIf="getItems().length === 0">
        <p>Seu carrinho está vazio!</p>
      </div>
    </div>
  </div>
</app-layout-principal>
