
.borda{
  border: 2px solid red;
}

.container{
  background-color: #fff;
  min-width: 995px;
  margin-top: 20px;
  border-radius: 15px;
}

.produto-adicionar {
  margin-bottom: 20px;
}

.produto-carrinho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.produto-item{
  overflow: auto;
  padding: 20px;
  height: 350px;
}



.produto-info h4 {
  margin: 0;
  font-size: 1.2em;
}

.produto-info p {
  margin: 5px 0;
}

.total-preco {
  margin-top: 20px;
  text-align: right;
}


.direita{
  min-width: 240px;
}
.direita .row{
  background-color: var(--background);
  border-radius: 15px;
  height: 100%;
}

p{
  margin: 0;
}

i:hover{
  cursor: pointer;
}

.infos-cep{
  padding-left: 10px;
  border-left: 1px solid #fff;
  margin-bottom: 5px;
}

.cep{
  padding-left: 10px;
  border-left: 1px solid #fff;
  margin-top: 15px;
}

.cep-info{
  border-bottom: 1px solid #fff;
  margin-top: 15px;
}


.sem-produtos{
  margin-top: 30px;
  text-align: center;
}

.sem-produtos h3{
  color: #575757;
}


.sem-produtos h4{
  color: #8b8b8b;
}

h5{
  color: #4d4d4d;
}
