<div class="table-responsive">
  <div class="tabela">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" *ngFor="let coluna of colunas" style="text-transform: capitalize;">
            {{ coluna != "id" ? coluna : "#" }}
          </th>
          <th *ngIf="dados">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dados">
          <td *ngFor="let coluna of colunas">
            {{ coluna === 'valor' ? (item[coluna] | currency:'BRL':'symbol':'1.2-2') : (item[coluna] == null ? '' : item[coluna]) }}
          </td>
          <td class="acoes">
            <div class="items" *ngIf="item.id != null">
              <ng-container *ngFor="let acao of acoes">
                <i
                  (click)="acao.funcao(item)"
                  [ngClass]="acao.icone(item)"
                >
                  {{ acao.nome(item) }}
                </i>
              </ng-container>
            </div>
          </td>
        </tr>
        <!-- Adicione linhas vazias para preencher a tabela -->
        <tr *ngFor="let i of [].constructor(10 - dados.length)">
          <td *ngFor="let coluna of colunas"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="paginacao">
    <pagination
      [totalItems]="totalItens"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
</div>
