.table-responsive {
  height: 100%;
  max-width: 100%;
}

.tabela{
  width: 100%;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100px;
}

th, td {
  text-align: left;
  height: 50px;
  min-width: 150px;
  border: 1px solid #ddd;
}

i{
  font-size: 20px;
  color: var(--cor-primaria);
}

i:hover{
  cursor: pointer;
  color: var(--cor-secundaria);
}

.paginacao{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}


@media (min-width: 1366px) {
  .tabela{
    height: 55vh;
  }
}

@media (min-width: 1920px) {
  .tabela{
    height: fit-content;
  }
}
