/* Ajuste para o container principal para aumentar o fundo branco */
main {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.text-muted-bold {
  color: #6c757d;
  font-weight: 600;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.items{
  height: 400px;
}

/* Resumo de Preços */
.resumo-preco {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resumo-preco .d-flex span {
  font-weight: 600;
}

.resumo-preco h5 {
  font-weight: 700;
}
