<app-layout-principal>
  <div class="container p-5 mt-4">
    <div class="titulo">
      <h1>Adicionar Novo Endereço</h1>
    </div>
    <form class="form-alterar w-100 mb-5" [formGroup]="enderecoForm" (ngSubmit)="adicionarNovoEndereco()">
      <div class="row">
        <div class="col-12">
          <!-- CEP -->
          <label for="cep">CEP:</label>
          <input
            type="text"
            class="form-control"
            id="cep"
            formControlName="cep"
            placeholder="Digite o CEP"
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <!-- Logradouro -->
          <label for="logradouro">Logradouro:</label>
          <input
            type="text"
            class="form-control"
            id="logradouro"
            formControlName="logradouro"
            placeholder="Digite o logradouro"
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <!-- Número -->
          <label for="numero">Número:</label>
          <input
            type="text"
            class="form-control"
            id="numero"
            formControlName="numero"
            placeholder="Digite o número"
          />
        </div>

        <div class="col-sm-6">
          <!-- Complemento -->
          <label for="complemento">Complemento:</label>
          <input
            type="text"
            class="form-control"
            id="complemento"
            formControlName="complemento"
            placeholder="Digite o complemento (opcional)"
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <!-- Bairro -->
          <label for="bairro">Bairro:</label>
          <input
            type="text"
            class="form-control"
            id="bairro"
            formControlName="bairro"
            placeholder="Digite o bairro"
          />
        </div>

        <div class="col-sm-6">
          <!-- Cidade -->
          <label for="cidade">Cidade:</label>
          <input
            type="text"
            class="form-control"
            id="cidade"
            formControlName="cidade"
            placeholder="Digite a cidade"
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <!-- UF -->
          <label for="uf">UF:</label>
          <select
            class="form-control"
            id="uf"
            formControlName="uf"
          >
            <option value="SR" disabled>Selecione uma resposta</option>
            <option *ngFor="let option of optionsUF" [value]="option.value">{{ option.text }}</option>
          </select>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-4">
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Salvar Endereço</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-secondary" (click)="fecharModal()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</app-layout-principal>
